<%= form_with model: vehicle, data: { turbo: false } do |form| %>
  <p>
    <%= form.label :brand, 'Brand:' %>
    <%= form.text_field :brand %>
  </p>

  <p>
    <%= form.label :model, 'Model:' %>
    <%= form.text_field :model %>
  </p>

  <p>
  <%= form.label :year, 'Year:' %>
  <%= form.number_field :year %>
  </p> 
 
  <p>
    <%= form.label :kind, 'Kind:' %>
    <%= form.number_field :kind %>
  </p> 

  <p>
    <%= form.submit %>
  </p>

<% end %>